.hoverActive {
	background-color: #ffffcc;
}

.pixelline {
	background-color: #ffff00;
}

.board {
	border: 10px solid #702020;
	text-align: center;
	width: 90vw;
	height: 90vw;
	min-width: 240px;
	min-height: 240px;
	margin: 15px;
}
.square {
	height: 12.5%;
	width: 12.5%;
	max-height: 100vw;
	max-width: 100vw;
	min-height: 30px;
	min-width: 30px;
	float: left;
	padding: 0;
	margin: auto;
}

.line {
	top: 10%;
	bottom: 10%;
	position: relative;
	height: 10px;
	max-height: 10px;
	width: 100%;
	float: ileft;
	padding: 0;
	margin: auto;
	max-width: 100vw;
	min-height: 30px;
}


.white {
	background-color: lightgoldenrodyellow;
}
.black {
	background-color: royalblue;
}
.piece {
	position: relative;
	top: 10%;
	bottom: 10%;
	width: 80%;
	height: 80%;
}