.hoverActive {
	background-color: #e8ceac;
}

.textfield {
	margin-left: 40px;
	background-color: whitesmoke;
}

.label {
	margin-left: 40px;
	background-color: whitesmoke;
}

.line {
	position: relative;
	width: 100%;
	padding: 0;
	border: 1px solid #e8d1ab;
	background-color: whitesmoke;
}

.label-line {
	height: 28px;
}

.textfield-line {
	height: 44px;
}


.sample-element {
	position: relative;
	height: 43px;
	width: 200px;
	float: left;
	padding: 0;
	border: 7px solid white;
	background-repeat: no-repeat;
	background-color: white;
}

.textfield-sample {
	background-image: url('/frontend/img/textfield.png');
}

.textarea-sample {
	background-image: url('/frontend/img/textarea.png');
}

.label-sample {
	background-image: url('/frontend/img/label.png');
}

